/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header,
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}
header h1 {
    margin: 0;
}
nav a {
    color: #fff;
    margin: 0px 15px;
}
.container {
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}
.filterFormDiv {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
/* .searchId {
    margin: auto;
} */
.filterDropdown {
    width: 130px;
}
.centerButtons {
    display: flex;
    justify-content: center;
}
.centerButtons button {
    margin: auto;
    width: 70px;
}
.searchResult {
    margin-top: 10px;
}
input[type="text"].filterText {
    width: calc(100% - 270px);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table,
th,
td {
    border: 1px solid #ddd;
}
th,
td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #555;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
form div {
    margin-bottom: 10px;
}
label {
    display: inline-block;
    width: 140px;
}
input[type="text"],
input[type="email"],
input[type="date"] {
    padding: 5px;
    width: calc(100% - 130px);
    border: 1px solid #ccc;
}
select {
    width: calc(100% - 120px);
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
button {
    padding: 6px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}

/* Dashboard Styles */
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}
.card-header {
    font-weight: bold;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}

/* Edit Modal */
.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal.hidden {
    display: none;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}