<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Adventure Travelers - Hotels</title>
    </head>
    <body>
        <header>
            <h1>Adventure Travelers</h1>
        </header>
        <nav>
            <a href="/">Dashboard</a>
            <a href="users">Users</a>
            <a href="travel_plans">Travel Plans</a>
            <a href="destinations">Destinations</a>
            <a href="hotels">Hotels</a>
            <a href="activities">Activities</a>
            <a href="destinations_activities">Destinations Activities Intersection Table</a>
        </nav>
        <div class="container">
            <h2>Hotels</h2>
            <table>
                <thead>
                    <tr>
                        <th>Hotel ID</th>
                        <th>Name</th>
                        <th>Cost Per Night</th>
                        <th>Rating</th>
                        <th>Destination</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table data gets populated here -->
                </tbody>
            </table>
            <h3>Add New Hotel</h3>
            <form id="hotelForm" onsubmit="event.preventDefault(); insertHotel();">
                <div>
                    <label for="destinationId">Destination:</label>
                    <select id="destinationId" name="destinationId">
                        <!-- Destinations dynamically populated here -->
                    </select>
                </div>
                <div>
                    <label for="name">Name:</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        required
                    />
                </div>
                <div>
                    <label for="costPerNight">Cost Per Night:</label>
                    <input
                        type="text"
                        id="costPerNight"
                        name="costPerNight"
                        required
                    />
                </div>
                <div>
                    <label for="rating">Rating:</label>
                    <input type="text" id="rating" name="rating" required />
                </div>
                <div>
                    <button type="submit">Add Hotel</button>
                </div>
            </form>
        </div>
        <div id="editModal" class="modal hidden">
            <div class="modal-content">
                <span class="close" onclick="closeEditModal()">&times;</span>
                <h3>Edit Hotel</h3>
                <form onsubmit="event.preventDefault(); updateHotel();">
                    <input type="hidden" id="editHotelId" name="editHotelId">
                    <div>
                        <label for="editDestinationSelect">Destination:</label>
                        <select id="editDestinationSelect">
                            <!-- Dynamic dropdown for destinations go here -->
                        </select>
                    </div>
                    <div>
                        <label for="editName">Name:</label>
                        <input type="text" id="editName" required />
                    </div>
                    <div>
                        <label for="editCostPerNight">Cost Per Night:</label>
                        <input type="text" id="editCostPerNight" required />
                    </div>
                    <div>
                        <label for="editRating">Rating:</label>
                        <input type="text" id="editRating" required />
                    </div>
                    <div>
                        <button type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="deleteModal" class="modal hidden">
            <div class="modal-content">
                <span class="close" onclick="closeDeleteModal()">&times;</span>
                <h3>Confirm Delete</h3>
                <p>Are you sure you want to delete this hotel?</p>
                <div>
                    <button onclick="closeDeleteModal()">Yes, Delete</button>
                    <button onclick="closeDeleteModal()">Cancel</button>
                </div>
            </div>
        </div>
        <script>
            // CONSTANTS
            const destinationMap = {};

            // Fetch hotels when the page loads
            document.addEventListener("DOMContentLoaded", async function () {
                await refreshData();
                console.log("Page loaded");
            })

            // Get all hotels
            async function fetchHotels() {
                const response = await fetch(`/hotels/fetchall`);
                const data = await response.json();
                const tbody = document.querySelector("tbody");
                tbody.innerHTML = "";

                for (const hotel of data.hotels) {
                    const row = document.createElement("tr");
                    const hotelId = hotel.hotel_id;
                    const name = hotel.name;
                    const costPerNight = hotel.cost_per_night;
                    const rating = hotel.rating;
                    const destination = destinationMap[hotel.destination_id];

                    row.innerHTML = `
                        <td>${hotelId}</td>
                        <td>${name}</td>
                        <td>${costPerNight}</td>
                        <td>${rating}</td>
                        <td>${destination}</td>
                        <td class="centerButtons">
                            <button onclick="openEditModal('${hotelId}', '${destination}', '${name}', '${costPerNight}', '${rating}')">Edit</button>
                            <button onclick="deleteHotel(${hotelId})">Delete</button>
                        </td>
                    `;
                    tbody.appendChild(row);
                }
            }

            // Get all destinations for dropdown
            function fetchDestinations() {
                return fetch(`/destinations/fetchall`)
                    .then(response => response.json())
                    .then(data => {
                        const destinationsSelect = document.getElementById("destinationId")

                        data.destinations.forEach(destination => {
                            const name = `${destination.city}${destination.state ? ', ' + destination.state : ''}, ${destination.country}`
                            destinationMap[destination.destination_id] = name

                            let option = document.createElement("option");
                            option.value = destination.destination_id;
                            option.innerHTML = name;
                            destinationsSelect.appendChild(option)
                        })
                    })
            }

            // Wait for map to be populated
            async function waitForMapToBeReady(map) {
                while (Object.keys(map).length === 0) {
                    console.log("waiting for map to be populated...");
                    await new Promise(resolve => setTimeout(resolve, 100)); // wait 100ms
                }
            }

            // Refresh the data
            async function refreshData() {
                // Reset the dropdown
                document.getElementById("destinationId").innerHTML = '';

                // Fetch detsinations
                await fetchDestinations();

                // Wait for maps to be populated before fetching hotels
                await waitForMapToBeReady(destinationMap);

                await fetchHotels();
            }

            // Update hotel
            function updateHotel() {
                const hotelId = document.getElementById("editHotelId").value;
                const name = document.getElementById("editName").value;
                const costPerNight = document.getElementById("editCostPerNight").value;
                const rating = document.getElementById("editRating").value;
                const destinationId = document.getElementById("editDestinationSelect").value;
                const updatedHotel = {
                    name: name,
                    cost_per_night: costPerNight,
                    rating: rating,
                    destination_id: destinationId
                };
                console.log(updatedHotel);

                fetch(`/hotels/update/${hotelId}`, {
                    method: "PUT",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(updatedHotel)
                })
                .then(response => response.json())
                .then(() => {
                    refreshData();
                    closeEditModal();
                })
            }

            // Delete hotel
            function deleteHotel(hotelId) {
                if (confirm("Are you sure you want to delete this hotel?")) {
                    fetch(`/hotels/delete/${hotelId}`, {
                        method: "DELETE"
                    })
                    .then(response => response.json())
                    .then(() => refreshData());
                }
            }

            // Insert hotel
            function insertHotel() {
                const name = document.getElementById("name").value;
                const costPerNight = document.getElementById("costPerNight").value;
                const rating = document.getElementById("rating").value;
                const destinationId = document.getElementById("destinationId").value;
                const newHotel = {
                    name: name,
                    cost_per_night: costPerNight,
                    rating: rating,
                    destination_id: destinationId
                };
                fetch(`/hotels/insert`, {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(newHotel)
                })
                .then(response => response.json())
                .then(() => refreshData());
            }

            function openEditModal(hotelId, destination, name, costPerNight, rating) {
                document.getElementById("editHotelId").value = hotelId;
                document.getElementById("editName").value = name;
                document.getElementById("editCostPerNight").value = costPerNight;
                document.getElementById("editRating").value = rating;
                const destinationIdDropdown = document.getElementById("editDestinationSelect");

                // Clear old options
                destinationIdDropdown.innerHTML = "";

                // Populate destinations dropdown
                Object.entries(destinationMap).forEach(([id, name]) => {
                    const option = document.createElement("option");
                    option.value = id;
                    option.textContent = name; 

                    if (name === destination) {
                        option.selected = true;
                    }

                    destinationIdDropdown.appendChild(option);
                });

                document.getElementById("editModal").classList.remove("hidden");
            }

            function closeEditModal() {
                document.getElementById("editModal").classList.add("hidden");
            }

            function openDeleteModal() {
                document
                    .getElementById("deleteModal")
                    .classList.remove("hidden");
            }

            function closeDeleteModal() {
                document.getElementById("deleteModal").classList.add("hidden");
            }

            document.querySelectorAll("button").forEach((button) =>
                button.addEventListener("click", function (event) {
                    if (event.target.textContent === "Edit") {
                        openEditModal(
                            event.target.parentElement.parentElement.children[1]
                                .textContent,
                            event.target.parentElement.parentElement.children[2]
                                .textContent,
                            event.target.parentElement.parentElement.children[3]
                                .textContent,
                            event.target.parentElement.parentElement.children[4]
                                .textContent
                        );
                    } else if (event.target.textContent === "Delete") {
                        openDeleteModal();
                    }
                })
            );

            window.onclick = function (event) {
                let deleteModal = document.getElementById("deleteModal");
                let editModal = document.getElementById("editModal");
                if (event.target === deleteModal) {
                    closeDeleteModal();
                } else if (event.target === editModal) {
                    closeEditModal();
                }
            };
        </script>
    </body>
</html>
